<div class="card1">
  <div class="row">
    <h3 class="about-title font-subtitle">Sergej Savic</h3>
      <a href="https://drive.google.com/file/d/1zg-drCuyVSr3hCMwoUVTJr0cBMYciF0P/view?usp=sharing" class="font-subtitle"target="_blank"><i style="color: white; margin-left:10px; margin-right: 10px;"
          class="fa fa-paperclip profile-icon" aria-hidden="true"></i></a>
  <a href="https://github.com/Sergej997" class="font-subtitle"target="_blank"><i style="color: white;"class="fa fa-github profile-icon" aria-hidden="true"></i></a>
  </div>
  <div class="row">
    <h3 class="about-title font-title">About me</h3>
  </div>
  <div class="row">
    <h6 class="about-position font-subtitle" style="color:silver">Junior developer</h6>
  </div>
  <div class="row">
    <p class="about-desc font-text">I am graduate student from Faculty of organizational Sciences, Information
      Technology department. I have been training athletics for twelve years and
      during that time I achieved more than ten medals on national championships
      in all age categories. Athletics helped me at being persistent, hard-working and
      determined. Also, I am friendly, creative, confident and curious.</p>
  </div>
  <div class="row" style="border-bottom: 2px solid silver; padding-bottom:0px;">
    <h6 class="about-title font-subtitle" style="margin-bottom: 0%;">Skills</h6>
  </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-3 font-text" align="center" >
        <h6 style="color: white;">Frontend</h6>
        <ul class="demo">
          <li>
            HTML
          </li>
          <li>
            Css/Sas/Scss
          </li>
          <li>
            JavaScript
          </li>
          <li>
            JQuery
          </li>
          <li>
            Ajax
          </li>
        </ul>
      </div>
      <div class="col-md-3 font-text" align="center">
        <h6 style="color: white;">Backend</h6>
        <ul class="demo">
          <li>
            Java
          </li>
          <li>
            NodeJS
          </li>
          <li>
            PHP
          </li>
          <li>
            Firebase
          </li>
          <li>
            SQL
          </li>
          <li>
            MongoDB
          </li>
        </ul>
      </div>
      <div class="col-md-3 font-text" align="center">
        <h6 style="color: white;">Freamworks</h6>
        <ul class="demo">
          <li>
            Angular
          </li>
          <li>
            Express
          </li>
          <li>
            Ionic
          </li>
        </ul>
      </div>
      <div class="col-md-3 font-text" align="center">
        <h6 style="color: white;">Other</h6>
        <ul class="demo">
          <li>
            Git(GitHub)
          </li>
          <li>
            REST API
          </li>
          <li>

          </li>
        </ul>
      </div>


    </div>
</div>
