<div class="card1">
    <div class="row">
      <h3 class="about-title font-title">Contact</h3>
    </div>
    <div class="row font-subtitle"><i style= "color:white" class="fa fa-envelope"></i></div>
    <div class="row" style="border-bottom: 1px solid silver; padding-bottom:0px;">
      <h6 class="about-title font-subtitle" style="margin-bottom: 0%;;">E-mail</h6>
    </div>
    <div class="font-subtitle" style="margin-top: 15px; line-height: normal;">
      <div style="color: grey; margin-bottom: 5px;">sergej.savi@gmail.com
  </div>
  </div>
  <div class="row font-subtitle"><i style=" color:white" class="fa fa-phone"></i></div>
  <div class="row" style="border-bottom: 1px solid silver; padding-bottom:0px;">
    <h6 class="about-title font-subtitle" style="margin-bottom: 0%;;">Phone</h6>
  </div>
  <div class="font-text" style="margin-top: 15px; line-height: normal;">
    <div style="color: grey; margin-bottom: 5px;">+381652399971</div>

  </div>
  <div class="row font-title"><i style=" color:white" class="fa fa-location-arrow"></i></div>
  <div class="row" style="border-bottom: 1px solid silver; padding-bottom:0px;">
    <h6 class="about-title font-subtitle" style="margin-bottom: 0%;;">Location</h6>
  </div>
  <br>
  <div class="font-text" style="margin-top: 15px; line-height: normal;">
    <div style="color: grey; margin-bottom: 5px;">Country: <span style="color:gray">Serbia</span></div>
    <div style="color: grey; margin-bottom: 5px;">City: <span style="color:gray">Belgrade</span></div>
    <div style="color: grey; margin-bottom: 5px;">Postal code: <span style="color:gray">11000</span></div>
  </div>
  </div>
