.nav-link1{
  color: white;
}
.nav-link2{
  color: gray;
}
@media only screen and (min-width:767px) {
  .font-text{
    font-size: 2vw;
  }
  }
@media only screen and (max-width:767px) {
.font-text{
margin-top: -20px;  font-size: 30px;
}

}