<div class="row" >
  <div class="col pom"></div>
  <div class="col-md-1 ped" style="padding-top: 0px; ">
    <div class=" klasa back" style="justify-content: center;">
      <div class="card-body align-self-flex-start" style="padding:0%;">
        <app-Profile></app-Profile>
      </div>
    </div>
  </div>
  <div class="col-md-6 ped" style="align-items: center;">
    <div class="card klasa" style="border:none; border-radius: 0%;">
    <div class="card-body main" style="position: relative; padding-top:40px;">
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>
  <div class="col"></div>
  </div>


