.about-title {
  // font-family: "Inter", sans-serif;
  line-height: 30px;
  color: white;
}
.about-position {
  // font-family: "Inter", sans-serif;
  line-height: 30px;
  color: #ffa500;
}
.about-desc {
  width:100%;
  font-size: 15px;
  color: grey;
}
.about-content{
    width: 100%;
    height: 55%;
}
.about-svg{
    width: 300px;
    height: 550px;
}
.card1{
  margin: 0px 20px 0px 30px;

}
.orange{
  color: #ffa500;
}
ul.demo {
  list-style-type: none;
  padding: 0;
}
@media only screen and (min-width:767px) {
  .font-title{
    font-size: 2vw;
  }
  .font-subtitle{
    font-size: 1.3vw;
  
  }
  .font-text{
    font-size: 1.1vw;
  
  }
}
@media only screen and (max-width:767px) {
.font-title{
  font-size: 30px;
}
.font-subtitle{
  font-size: 20px;

}
.font-text{
  font-size: 17px;

}
}
