<div class="card1">
  <div class="row">
    <h3 class="about-title font-title">Education</h3>
  </div>
  <div class="row font-subtitle"><i style="color:white" class="fa fa-graduation-cap"></i></div>
  <div class="row" style="border-bottom: 1px solid Silver; padding-bottom:0px;">
    <h6 class="about-title font-subtitle" style="margin-bottom: 0%;;">Faculty of Organizational Sciences</h6>
  </div>
  <div class="font-text" style="margin-top: 15px; line-height: normal;">
    <div style="color: white; margin-bottom: 5px;">Field of learning: <span style="color:gray">Information systems and technologies</span>
    </div>
    <div style="color: white; margin-bottom: 5px;">Time: <span style="color:gray">4 years</span></div>
    <div style="color: white; margin-bottom: 5px;">Start year: <span style="color:gray">2016</span>
  </div>
  <div style="color: white; margin-bottom: 5px;">End year: <span style="color:gray">2020</span>
</div>
</div>
<div class="row font-subtitle"><i style=" color:white" class="fa fa-book"></i></div>
<div class="row" style="border-bottom: 1px solid silver; padding-bottom:0px;">
  <h6 class="about-title font-subtitle" style="margin-bottom: 0%;;">Courses</h6>
</div>
<div class="font-text" style="margin-top: 15px; line-height: normal;">
  <div style="color: white; margin-bottom: 5px;">Platform: <span style="color:gray">Udenmy</span></div>
  <div style="color: white; margin-bottom: 5px;">Number of couses: <span style="color:gray">6</span></div>
  <div style="color: white; margin-bottom: 5px;">Name of courses: <span style="color:gray">Angular - The complete Guide by maximillian Schwarzmuller, <br>
    Ionic-Build iOS, Android & Web Apps with Ionic & Angular by Maximillian Schwarzmuller, <br>
    The Web Developer Bootcamp 2020 by Colt Steele <br>
    Java Programming Masterclass for Software Developers by Tim Buchalka <br>
    Servlets and JSPs Tutorial by John Purcell <br>
    JavaScript Algoritms and Data Structures Masterclass by Colt Steele
      </span></div>
</div>
<div class="row font-subtitle"><i style=" color:white" class="fa fa-university"></i></div>
<div class="row" style="border-bottom: 1px solid silver; padding-bottom:0px;">
  <h6 class="about-title " style="margin-bottom: 0%;;">High school</h6>
</div>
<div class="font-text" style="margin-top: 15px; line-height: normal;">
  <div style="color: white; margin-bottom: 5px;">Name of school: <span style="color:gray">"IX Beogradska gimnazija "Mihailo Petrovic Alas"</span></div>
  <div style="color: white; margin-bottom: 5px;">Grade: <span style="color:gray">High</span></div>
  <div style="color: white; margin-bottom: 5px;">Time: <span style="color:gray">4 years</span></div>
  <div style="color: white; margin-bottom: 5px;">Start year: <span style="color:gray">2012</span></div>
  <div style="color: white; margin-bottom: 5px;">End year: <span style="color:gray">2016</span></div>

</div>
</div>